/** GLOBAL STYLING **/
* {
  color: #F1F0E8;
}

html, body {
  width: 300%;
  overflow: hidden;
  background-color: #F1F0E8 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  z-index: 0;
}

h1, h2 {
  z-index: 2;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  float: left;
  position: absolute;
  top: 430px;
  font-family: 'Playfair Display', serif !important;
}

h1 {
  font-size: 8rem !important;
  font-weight: 800 !important;
  color: #ee6969 !important;
}

h2 {
  font-size: 4rem !important;
  font-weight: 400 !important;
  color: #222222 !important;
  margin-top: 9% !important;
}

p {
  color: #222222 !important;
}

/** NAVIGATION **/
header {
  height: 80px !important;
  background-color: #ee6969;
}

header nav {
  position: fixed;
  width: 100vw;
  margin-bottom: 10%;
  padding: 20px 0 20px 30%;
  height: 100%;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  font-weight: 400;
  margin-right: 200px;
  display: inline;
}

header nav ul li ul > li {
  display: block;
}

header nav ul li a {
  text-decoration: none;
  color: #F1F0E8;
}

header nav ul li a:hover {
  color: #F1F0E8;
  text-decoration: none;
}

header .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  left: -23px;
  border: none;
  background-color: #ee6969;
}

header .dropdown:hover .dropdown-menu a {
  color: #F1F0E8 !important;
}

header .dropdown:hover .dropdown-menu a:hover {
  color: #ee6969 !important;
}

header .dropdown-toggle::after {
  display: none !important;
}

/** BODY **/
.horizontal-scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1%;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.horizontal-scroll-wrapper #films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2%;
  width: auto;
}

.horizontal-scroll-wrapper #films .video_wrapper {
  margin-left: 5%;
  height: 450px;
}

.horizontal-scroll-wrapper #films .video_wrapper .overlay {
  display: none;
}

.horizontal-scroll-wrapper #films .video_wrapper .video_description {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}

.horizontal-scroll-wrapper #films .video_wrapper:hover .overlay {
  text-align: center;
  border-radius: 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 99;
  margin-top: -455px;
  height: 449px;
  width: 800px;
  padding-top: 170px;
  pointer-events: none !important;
}

.horizontal-scroll-wrapper #films .video_wrapper:hover .overlay .overlay-text {
  pointer-events: none !important;
}

.horizontal-scroll-wrapper #films .video_wrapper:hover .overlay #more_info {
  margin: 100px 0 0 0;
  font-size: 14px;
  color: #ee6969 !important;
  pointer-events: auto !important;
}

.horizontal-scroll-wrapper #films .video_wrapper:hover .overlay p {
  color: #F1F0E8 !important;
  cursor: pointer;
  font-size: 25px;
}

.horizontal-scroll-wrapper #films .video_wrapper:hover .overlay img {
  height: 10px;
  width: 10px;
  -webkit-transition: 400ms ease-in all;
  transition: 400ms ease-in all;
}

.horizontal-scroll-wrapper #films .video_wrapper p {
  text-align: center;
}

.horizontal-scroll-wrapper #films .video_wrapper .video {
  border-radius: 10px;
  width: 800px;
  height: auto;
  margin-right: 50px;
}

.horizontal-scroll-wrapper #project {
  margin-left: 10%;
}

.horizontal-scroll-wrapper #project .project_description {
  width: 400px;
  height: auto;
  margin: 40% 0 0 25%;
}

/** FOOTER **/
footer {
  position: fixed;
  bottom: -130px;
  right: -85%;
  width: 100vw;
  height: 200px;
}

footer span {
  color: black;
}

footer .arrow {
  height: 10px;
  width: 10px;
}

.f1 {
  margin-top: -100px;
}

.f2 {
  margin-top: 130px;
}

.slideItUpMan {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}
/*# sourceMappingURL=global.css.map */