/** GLOBAL STYLING **/
* {
  color: #F8F8F7;
}

html, body {
  width: 7550px;
  overflow: hidden;
  background-color: #F8F8F7 !important;
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  background-image: url("assets/bg.png");
}

h1, h2 {
  line-height: .9 !important;
  font-family: 'Unica One', cursive !important;
}

h1 {
  font-size: 6rem !important;
  font-weight: 800 !important;
  color: #FADD00 !important;
}

h2 {
  font-size: 5rem !important;
  font-weight: 600 !important;
  color: #222222 !important;
}

h3 {
  font-size: 3rem !important;
  font-weight: 600 !important;
  color: #222222 !important;
  margin-top: 9% !important;
}

p {
  color: #222222 !important;
}

.pointer-event {
  pointer-events: auto !important;
  cursor: pointer !important;
}

/** NAVIGATION **/
header {
  height: 130px !important;
  background-color: #34353C;
  z-index: 10;
  position: relative;
}

header #headlines {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  width: 90vh;
  left: 10vw;
  bottom: 10vh;
  top: 90vh;
}

header nav {
  position: fixed;
  width: 100%;
  padding-left: 300px;
  padding-top: 80px;
  font-family: 'Unica One', cursive !important;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

header nav ul li {
  font-weight: 400;
  margin-left: 200px;
  display: inline;
  text-decoration: none;
  color: #F8F8F7;
}

header nav ul li:hover, header nav ul li:active {
  color: #FADD00;
  text-decoration: none;
}

header nav ul li ul > li {
  display: block;
}

header .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  left: -23px;
  border: none;
  background-color: #34353C;
}

header .dropdown:hover .dropdown-menu a {
  color: #F8F8F7 !important;
}

header .dropdown:hover .dropdown-menu a:hover {
  color: #34353C !important;
  background-color: #FADD00;
}

header .dropdown-toggle::after {
  display: none !important;
}

/** BODY **/
.horizontal-scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
  margin-left: 0;
  height: calc(90vh - 180px);
  width: 100%;
  z-index: 0;
  position: relative;
}

.horizontal-scroll-wrapper #films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.horizontal-scroll-wrapper #films .video_wrapper {
  margin-left: 250px;
  height: 100%;
  width: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.horizontal-scroll-wrapper #films .video_wrapper .video_description {
  font-size: 14px;
  text-align: center;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}

.horizontal-scroll-wrapper #films .video_wrapper .video_description p {
  margin: 0;
}

.horizontal-scroll-wrapper #films .video_wrapper .video-container {
  position: relative;
  font-family: 'Unica One', cursive !important;
}

.horizontal-scroll-wrapper #films .video_wrapper .video-container .more_info {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  font-size: 12px;
  color: #e9c215 !important;
  margin-bottom: 0 !important;
}

.horizontal-scroll-wrapper #films .video_wrapper .video-container .video {
  border-radius: 10px;
  width: 100%;
  height: 450px;
}

.horizontal-scroll-wrapper #films .video_wrapper .video-container .mb {
  margin-bottom: 30px;
}

.horizontal-scroll-wrapper #films .video_wrapper .video-container .mt {
  margin-top: 30px;
}

.horizontal-scroll-wrapper #films .video_wrapper .video-container p {
  font-size: 25px;
  text-align: center;
}

.horizontal-scroll-wrapper #films .video_wrapper .video-container img.arrow-down {
  height: 10px;
  width: 10px;
  -webkit-transition: 400ms ease-in all;
  transition: 400ms ease-in all;
  cursor: pointer !important;
  margin: 0 50%;
}

.horizontal-scroll-wrapper #project {
  margin-left: 600px;
}

.horizontal-scroll-wrapper #project .project_description {
  width: 400px;
  height: auto;
  margin-top: 10%;
}

/** FOOTER **/
footer {
  position: fixed;
  bottom: -130px;
  right: -85%;
  width: 100vw;
  height: 200px;
}

footer span {
  color: black;
}

footer .arrow {
  height: 10px;
  width: 10px;
}

.f2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.f2 .video-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.f2 .video_description {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.slideItUpMan {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}
/*# sourceMappingURL=global.css.map */